<h1>Brew Calculator</h1>
<h2>Hello, Let's Make Some Coffee!</h2>
<h4>Chemex</h4>
<div id="grams_calc">
	<form name="grams_calc">
		<label for="coffee">How much coffee (grams) do you want to make?</label><br/>
		<input type="text" id="coffeeLiquidMake" placeholder="One cup = 300 grams." onChange="finalCoffee()" style="width: 250px">grams.
		<br/>
		<input type="button" value="Give Me Coffee!" onclick="calcBrew(document.getElementById('coffeeLiquidMake').value)">
		</br>
		Use <span id="coffeeBeanUse"> . . . </span>grams of coffee beans to make <span id="coffeeLiquidFinal"> . . . </span>.
		<br/>
	</form>
</div>
		<!-- <label for="beans">How many coffee beans do you want to use?</label><br/>
		<input type="text" name="beans"/>grams.
		<button onclick="calc();">Make Coffee!</button>
		</br>
	</form>
</div>
</br>
</br>
</br>
<div id="grams_calc">
	<form name="grams_calc">
		<label for="coffee">How much coffee do you want to make?</label><br/>
		<input type="text" name="coffee"/>grams.
		<button onclick="calc;">Make Coffee!</button>
		</br>
		Use <input type="text" name="coffee_result"/> of beans.
		</br>
		<label for="beans">How many coffee beans do you want to use?</label><br/>
		<input type="text" name="beans"/>grams.
		<button onclick="calc();">Make Coffee!</button>
		</br>
	</form>
</div>
<br/>
<br/>
<br/> 

<div id="calc-contain">
	<form name="calculator">
		<label for="answer">Do the math!</label><br/>
		<input type="text" name="answer" />
		</br>

		<input type="button" value=" 1 " onclick="calculator.answer.value += '1'" />
		<input type="button" value=" 2 " onclick="calculator.answer.value += '2'" />
		<input type="button" value=" 3 " onclick="calculator.answer.value += '3'" />
		<input type="button" value=" + " onclick="calculator.answer.value += '+'" />
		</br>

		<input type="button" value=" 4 " onclick="calculator.answer.value += '4'" />
		<input type="button" value=" 5 " onclick="calculator.answer.value += '5'" />
		<input type="button" value=" 6 " onclick="calculator.answer.value += '6'" />
		<input type="button" value=" - " onclick="calculator.answer.value += '-'" />
		</br>

		<input type="button" value=" 7 " onclick="calculator.answer.value += '7'" />
		<input type="button" value=" 8 " onclick="calculator.answer.value += '8'" />
		<input type="button" value=" 9 " onclick="calculator.answer.value += '9'" />
		<input type="button" value=" x " onclick="calculator.answer.value += '*'" />
		</br>
		<input type="button" value=" c " onclick="calculator.answer.value = ''" />
		<input type="button" value=" 0 " onclick="calculator.answer.value += '0'" />
		<input type="button" value=" = " onclick="calculator.answer.value = eval(calculator.answer.value)" />
		<input type="button" value=" / " onclick="calculator.answer.value += '/'" />
		</br>
	</form>


</div>
-->